.movie-page {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .movie-title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .video-container {
    margin-bottom: 20px; /* Space below the video */
  }
  
  .movie-description {
    font-size: 1.2em;
    margin-bottom: 20px; /* Space below the description */
  }
  
  .reviews {
    margin-top: 20px;
  }
  
  .review {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .reviewer {
    margin: 0;
    font-weight: bold;
  }
  
  .review-comment {
    margin: 5px 0 0;
  }